# Ignore macOS system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.npm

# ESLint cache
.eslintcache

# TypeScript build info
*.tsbuildinfo

# Next.js build output
.next/

# Vercel deployment
.vercel/

# Environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Ignore specific directories
frontend/node_modules/
shared/node_modules/
contracts/node_modules/

# Ignore built files
out/
build/

# Ignore temporary or configuration files
.idea/
.vscode/
*.sublime-workspace

# Ignore Forge artifacts and build cache
cache/
